.design-page {
  .design-page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 100%;
    .design-name {
      font-size: 14px;
    }
    .operate-wrapper {
      display: flex;
      height: 100%;
      align-items: center;
      .ant-btn-primary,
      .ant-btn-default {
        width: 80px;
        margin-left: 12px;
      }
    }
  }
  .design-left {
    width: 300px;
    height: 100%;
  }
  .design-right {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #fafafa;
    .editor-panel {
      height: 100%;
      flex: 1;
      flex-basis: 600px;
    }
    .editor-config {
      width: 300px;
      height: 100%;
      overflow-y: auto;
    }
  }
}