.home-page {
  .home-page-side {
    width: 300px;
    height: 100%;
    overflow-y: auto;
    padding: 20px 40px;
    .add-btn-wrapper {
      padding: 20px 0px 40px;
      display: flex;
      justify-content: center;
    }
    .add-btn {
      width: 100%;
      height: 40px;
    }
    .menu-item {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      padding: 0px 12px;
      cursor: pointer;
      font-size: 14px;
      &.active {
        color: #3A72FF;
        background: #F4F7FF;
      }
    }
    .menu-text {
      margin-left: 8px;
    }
  }
  .home-page-main {
    background-color: #fafafa;
    flex: 1;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    .page-title {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    .ant-empty-normal {
      height: 300px;
      padding-top: 130px;
      background-color: #fff;
      margin: 0px;
    }
    .pagination-wrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
    }
    .h5-list {
      display: flex;
      flex-wrap: wrap;
      margin-top: -30px;
    }
    .h5-item {
      width: 240px;
      height: 320px;
      padding: 20px;
      border-radius: 2px;
      cursor: pointer;
      background-color: #fff;
      margin: 30px 30px 0px 0px;
      transition: all 1s;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0);
      &:hover {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
      }
      .h5-cover {
        width: 100%;
        height: 230px;
        overflow: hidden;
        border-radius: 2px;
        background-color: antiquewhite;
      }
      .h5-info {
        margin-top: 12px;
      }
      .h5-name {
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .h5-date {
        font-size: 12px;
        transform: translate(0.83, 0.83);
        color: #999;
      }
    }
  }
}